  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer utilities {
    .wrapper {
      padding: 60px 120px;

    }

    @media screen and (max-width:1024px) {
      .wrapper {
        padding: 20px 16px;
      }
    }

    .moreText {
      text-align: center;
      width: 700px;
      letter-spacing: -10px;
      background: linear-gradient(90.79deg, rgba(255, 255, 255, 0.33) 0.48%, #FFFFFF 24.27%, #FFFFFF 68.52%, rgba(255, 255, 255, 0.29) 106.69%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    .gradText {
      font-weight: 700;
      background: linear-gradient(90.79deg, rgba(255, 255, 255, 0.33) 0.48%, #FFFFFF 24.27%, #FFFFFF 68.52%, rgba(255, 255, 255, 0.29) 106.69%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    .hcardBgW {
      background: rgba(75, 75, 75, 0.4);
      background: url("../public/images/blurImg.svg"), rgba(75, 75, 75, 0.4);
      background-blend-mode: screen, normal;
      backdrop-filter: blur(6px);
      border-radius: 80px;
    }

    .hcardBgWO {
      background: rgba(75, 75, 75, 0.4);
      background-blend-mode: screen, normal;
      backdrop-filter: blur(6px);
      border-radius: 50px;
    }

    .callBg {
      background: url("../public/images/blurImgFull.svg"), rgba(75, 75, 75, 0.4);
      background-blend-mode: screen, normal;
      backdrop-filter: blur(6px);
      /* opacity: 0.9; */
    }

    .vcardBg {
      background: url("../public/images/blurV.svg"), rgba(75, 75, 75, 0.4);
      background-blend-mode: screen, normal;
      backdrop-filter: blur(17px);
      border-radius: 30px;
    }

    .space-50vh {
      height: 50vh;
    }
  }